{% extends "base.html" %} {% block title %}Gauri's Cake Hub/Home{% endblock %}
 {% block content %}
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    </head>
<body>

<section id="offers" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5">
    <h3 text="">Our Offers</h3>
    <hr class="mx-auto">
    <p>Here you can check our daily offers.</p>
  </div>
  <div class="row mx-auto container-fluid">

      <div onclick="window.location.href='http://127.0.0.1:5000/sproduct';" class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/1.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Red Velvet Cake</h5>
        <h4 class="p-price">₹660.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/2.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Dark Forest Cake</h5>
        <h4 class="p-price">₹610.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/3.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Chocolate Cake</h5>
        <h4 class="p-price">₹599.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/4.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Vanilla Cake</h5>
        <h4 class="p-price">₹610.00</h4>
        <button  class="buy-btn">Buy Now</button>
    </div>
  </div>

</section>
<section id="new" class="w-100">
    <div class="row p-0 m-0">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img class="img-fluid" src="static/images/cakes/5.jpeg" >
            <div class="details">
               <h2 style="color:#fff">Birthday Cakes</h2>
                <button class="text-uppercase">Buy Now</button>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img class="img-fluid" src="static/images/cakes/6.jpeg" >
            <div class="details">
               <h2 style="color:#fff;border-color:black">Anniversary Cakes </h2>
                <button class="text-uppercase">Buy Now</button>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img class="img-fluid" src="static/images/cakes/7.jpg" >
            <div class="details">
               <h2 style="color:#fff">Customized Cakes</h2>
                <button class="text-uppercase">Buy Now</button>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<section id="banner2" class="my-5 pb-5">
    <div class="container">
        <h5>Gauri's <i class="fa fa-birthday-cake"></i><br>
            Cake Hub</h5>
        <h4>PREMIUM QUALITY</h4>
        <h1>FRESH CAKE<br>DISCOUNT 20% OFF!!!</h1>
        <button class="text-uppercase">BUY NOW!</button>
    </div>
</section>
<br>

<section id="pastry" class="my-5">
  <div class="container text-center mt-5 py-5">
    <h3 text="">Our Best Selling Pastries</h3>
    <hr class="mx-auto">
    <p>Here you can check our daily offers.</p>
  </div>
  <div class="row mx-auto container-fluid">

      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/8.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Tempting Truffle Pastry-6 Pcs</h5>
        <h4 class="p-price">₹599.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/9.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Delicious Butterscotch Pastry- 6 Pcs</h5>
        <h4 class="p-price">₹599.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/10.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Creamy Chocolate Pastry- 6 Pcs</h5>
        <h4 class="p-price">₹570.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/11.png" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Black Forest Pastry- 6 Pcs</h5>
        <h4 class="p-price">₹599.00</h4>
        <button  class="buy-btn">Buy Now</button>
    </div>
  </div>

</section>

<section id="mcakes" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5">
    <h3 text="">Our Other Varieties</h3>
    <hr class="mx-auto">
    <p>Which You Can Check Here.</p>
  </div>
  <div class="row mx-auto container-fluid">

      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/12.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Blueberry Cake</h5>
        <h4 class="p-price">₹849.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/13.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Oreo Cake</h5>
        <h4 class="p-price">₹799.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/14.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Fresh Fruit Cake</h5>
        <h4 class="p-price">₹799.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/15.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">White Butterscotch Cake</h5>
        <h4 class="p-price">₹610.00</h4>
        <button  class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/16.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Pineapple Cake</h5>
        <h4 class="p-price">₹549.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/17.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Chocolate Caramel Cake</h5>
        <h4 class="p-price">₹649.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/18.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Chocolaty Truffle Cake</h5>
        <h4 class="p-price">₹799.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/19.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Strawberry Cake</h5>
        <h4 class="p-price">₹799.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/20.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Mixed Fruit Delicious Dry Cake</h5>
        <h4 class="p-price">₹699.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/21.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">White Forest Cake</h5>
        <h4 class="p-price">₹849.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/22.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Special Floral Chocolate Cake</h5>
        <h4 class="p-price">₹749.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>


      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="image-fluid mb-3" src="static/images/cakes/23.jpg" height="270px",width="300px">
        <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
        </div>
        <h5 class="p-name">Dry Cake With Dates & Walnuts</h5>
        <h4 class="p-price">₹949.00</h4>
        <button class="buy-btn">Buy Now</button>
    </div>
  </div>
</section>
</body>
    {% endblock %}


